* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --nav-background: #ffa500;
    --background-color: #ffffff;
    --nav-text-color: #ffffff;
    --item-text-color: #ffa500;
    --item-border: #ffa500;
    --text-hover-color: #ffffff;
    --text-error: #ff0000;
    --text-success: #008000;
}
body {
    background-color: var(--background-color);
    color: var(--item-text-color);
    overflow-x: hidden;
}
section {
    margin: 60px 0;
}
a {
    text-decoration: none;
    color: var(--item-text-color);
}
ul {
    list-style: none;
}
.container {
    width: 80%;
    margin: 0 auto;
}

/* Навигация */
nav {
    background-color: var(--nav-background);
    color: var(--nav-text-color);
    padding: 10px 30px;
}
.nav-list {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}
.nav-list a {
    color: var(--nav-text-color);
    font-size: 18px;
    font-weight: bold;
}

/* Форма авторизации */
#login h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px
}
.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 4px solid var(--item-border);
    border-radius: 15px;
    padding: 30px;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo-img {
    height: 120px;
}

/* Информационные сообщения */
.info {
    font-size: 14px;
    margin: 10px 0;
}
.error {
    color: var(--text-error);
}
.success {
    color: var(--text-success);
}

/* Поля формы, кнопки */
.col-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.form-container {
    display: flex;
    justify-content: start;
    align-items: stretch;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px 0;
}
.form-input, .file-textarea {
    outline: none;
    border: 2px solid var(--item-border);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    width: 250px;
}
.file-textarea {
    width: 800px;
    height: 400px;
}
.form-button {
    border: 2px solid var(--item-border);
    border-radius: 5px;
    background-color: var(--item-border);
    color: var(--text-hover-color);
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    text-align: center;
}
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
    margin: 20px 0;
}
.input-container label, .form-container label {
    font-size: 14px;
    font-weight: bold;
}
.form-container label {
    align-self: center;
}


/* Основная часть */
#resources > h1, #file > h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.resource-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.resource-item {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    border: 2px solid var(--item-border);
    cursor: pointer;
}
.resource-item:hover {
    background-color: var(--item-border);
    color: var(--text-hover-color);
}
.resource-item img {
    height: 20px;
}
.resource-item h1 {
    font-size: 14px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/* Для мобильных устройств */
@media only screen and (max-width: 1000px) {
    .container {
        width: 90%;
    }
    .file-textarea {
        width: 90%;
    }
}
