* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --nav-background: #ffa500;
    --background-color: #ffffff;
    --nav-text-color: #ffffff;
    --item-text-color: #ffa500;
    --item-border: #ffa500;
    --text-hover-color: #ffffff;
}
body {
    background-color: var(--background-color);
    color: var(--item-text-color);
    overflow-x: hidden;
}
section {
    margin: 60px 0;
}
a {
    text-decoration: none;
    color: var(--item-text-color);
}
.container {
    width: 80%;
    margin: 0 auto;
}

/* Навигация */
nav {
    background-color: var(--nav-background);
    color: var(--nav-text-color);
    padding: 10px 30px;
}
nav a {
    color: var(--nav-text-color);
    font-size: 18px;
    font-weight: bold;
}

/* Меню */
.col-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}
.form-container {
    display: flex;
    justify-content: start;
    align-items: stretch;
    gap: 10px;
    flex-wrap: wrap;
}
.form-input {
    outline: none;
    border: 2px solid var(--item-border);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    width: 250px;
}
.form-button {
    border: 2px solid var(--item-border);
    border-radius: 5px;
    background-color: var(--item-border);
    color: var(--text-hover-color);
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    text-align: center;
}

/* Списой файлов и папок */
#resources > h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.resource-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.resource-item {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    border: 2px solid var(--item-border);
    cursor: pointer;
}
.resource-item:hover {
    background-color: var(--item-border);
    color: var(--text-hover-color);
}
.resource-item img {
    height: 20px;
}
.resource-item h1 {
    font-size: 14px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/* Файл */
#file > h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Для мобильных устройств */
@media only screen and (max-width: 750px) {
    .container {
        width: 90%;
    }
}
